
 .App {
  text-align: center;
}
.text-secondary{
  color: white;
}
.navbar{
  border-bottom: 2px solid rgb(158, 129, 129);
  padding: 0;
  height: 35px;
  margin: 0;
  
}
 .navbar-section{
 font-size: 12pt;
  padding: 0;
  margin-left: 5px;
  color: white;
  font-family: Comic Sans MS Header;
  height: 35px; 
  position: relative;
  bottom: 18px;
 }
/* .nav-link, .fa-home{ */
  /* display: block; */
  /* font-size: 12pt;
  padding: 0;
  margin-left: 5px;
  color: white;
  font-family: Comic Sans MS Header;
  height: 35px; 
} */
.nav-link-logout{
  position: relative;
  margin-left: 1150px;
  font-size: 10pt;
  
  
} 
.backgrounds{
      position: absolute;
      width: 100%;
      background: yellow;
      background: transparent;
      backdrop-filter: blur(15px); 
    }

.tagName{
  position: absolute;
  text-align: center;
  color: white;
  top: 40px;
  left: 45%;

}
.nav-link-logout{
color: whitesmoke;
}

@media screen and (max-width: 415px) {
  .nav-link, .fa-home{
color: greenyellow;
text-align: center;
}
}
/* @media screen and (max-width: 500px) {
  .navbar {
    float: right;
    display: block;
    text-align: left;
  }
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: rgb(13, 104, 156);
  height: 50px;
  padding: auto;
  color: white;
  border-bottom: 6px solid rgb(255,165,2);
 
} */

/* .App-title {
  font-size: 1.5em;
} */
/* 
.App-intro {
  font-size: large;
} */

/* .navbar {
 
  margin-top: auto;
  
} */
/* #top-filler {
  margin-bottom: auto;
} */

/* #nav-container {
  align-items: flex-end;
} */
/* .form-horizontal{

} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

