/* Create three equal columns that floats next to each other */
.row{ /*! This is for 3 column cards inside home*/
    
        box-sizing: border-box;
      
}
.column {
    background-image: url(./Images/back.jpg);
    background-size: cover;
    border: 1px solid black;
    float: left;
    width: 25%;
    margin: 90px;
    border-radius: 15px;
    height: 240px; /* Should be removed. Only for demonstration */
  }
  .Btn-s{
      height: 30px;
      width: 90px !important;
      font-size: x-small;
      background-image: url(./Images/back.jpg);
      background-size: cover;
      border-radius: 5px;
      position: relative;
      bottom: 31px;
  }
  
  /* Clear floats after the columns */
  .row:after {
      
    content: "";
    display: table;
    clear: both;
  }
  /*! ends here*/


.tag{ /*? Title of the Home page. home.js*/
    
    font-size: 63pt !important;
    color: wheat;
    position: absolute; 
    margin-top: 20px;
    left: 22%;
    text-shadow:  0px 0px 8px  #b90303;
    font-family: 'Pacifico', cursive;
}
.text-under-title{
    color: whitesmoke;
    font-size: 24pt;
    position: absolute; 
    margin-top: 330px;
    left: 16%;
    right: 16%;
    text-shadow:  0px 0px 8px  blue;
}


.footerImage{
    
    position: absolute;
    bottom: 16%;
    margin-left: 190px;
    margin-right: 190px;
    color: aliceblue;
    font-size: 8pt;
}

 @media screen and (max-width: 390px) {
  .mapmargin {
      margin: auto;
      position: relative;
      height: 700px;
     
  /* border: 3px solid black; */
  }
  .map-framing{
      height: 20% !important;
  }
  .everything{
      /* border: 3px solid black; */
      width: 200px;
      margin: auto;
  }
  input[name=search]{
      background: greenyellow;
      position: relative;
      margin-left: 170px;
  }
  .buttonss{
      margin-top: 3px;
      left: 59px;
  }
  .footerImage{
      display: none;
    font-size: 14;
      position: relative;
    
  }
} 
