/* .h{
    background-image: url('./Images/chicago-home.jpg');
    background: plum;
background-size: cover;
backdrop-filter: blur(8px);
} */
/* .jumboPic{
background-image: url('./Images/city-skyline-1209906.jpg');
position: absolute;
} */
.tag{ /*? Title of the Home page. home.js*/
    
    font-size: 63pt !important;
    color: wheat;
    position: absolute; 
    margin-top: 20px;
    left: 36%;
    text-shadow:  0px 0px 8px  #b90303;
    font-family: 'Pacifico', cursive;
}
.text-under-title{
    color: whitesmoke;
    font-size: 24pt;
    position: absolute; 
    margin-top: 270px;
    left: 16%;
    right: 16%;
    text-shadow:  0px 0px 8px  blue;
}


.footerImage{
    
    position: absolute;
    bottom: 16%;
    margin-left: 24% ;
    color: aliceblue;
    font-size: 40pt;
}

 @media screen and (max-width: 390px) {
  .mapmargin {
      margin: auto;
      position: relative;
      height: 700px;
     
  /* border: 3px solid black; */
  }
  .map-framing{
      height: 20% !important;
  }
  .everything{
      /* border: 3px solid black; */
      width: 200px;
      margin: auto;
  }
  input[name=search]{
      background: greenyellow;
      position: relative;
      margin-left: 170px;
  }
  .buttonss{
      margin-top: 3px;
      left: 59px;
  }
  .footerImage{
      display: none;
    font-size: 14;
      position: relative;
    
  }
} 
