.wrapperl{
    margin: auto;
    height: 100vh;
       width: 100%;
       border: 1px solid black;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./Images/chicago-log.jpg');
    background-size: cover;
    color: whitesmoke;
      } 
       
      .form-wrapperl{
          margin-bottom: 180px;
          text-align: left;
        border: 1px solid black;
        width: 400px;
        display: inline-block;
        flex-direction: column;
        padding: 19px 40px;
        border-radius: 15px;
        box-shadow: 0px 0px 60px rgb(46, 43, 43);
        opacity: 40px;
        backdrop-filter: blur();
      }
      
 

      
       
      

       /* form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      } */

/* .form-labell {
       
      } */

    
    

      .form-inputl[type=text],.form-inputl[type=password]{
          border: 0.5px solid black;
          margin: 3px;
          width: 200px;
          float: right;
          bottom: 30px;
          font-size: 0.8em;
          font-style: italic;
          opacity: 80%;
          border-radius: 8px;
          outline: red;
      }
      .btn-btn-btn{
        float: right;
        box-shadow: 3px 4px 0px 0px #4f36a7;
        background: linear-gradient(to bottom, #2bfa01 5%, #5337f2 100%);
        background-color: #0fe03d;
        border-radius: 18px;
        border: 1px solid #d018b8;
        /* display: inline-block; */
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 2px 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #13c213;
          /* position: relative;
          margin: 7px;
          left: 100px; */
          
         
      }

      @media screen and (max-width: 415px) {
        .form-wrapperl {
         width: 360px;
         text-align: center;
         
        }
        .form-inputl[type=text],.form-inputl[type=password]{
          background: chartreuse;
          position: relative;
          top: 0px;
          right: 36px;

        }
        .form-labell[for=username],.form-labell[for=password]{
          margin-right:  59px;
          text-align: center;
          margin-top: 10px;
          position: relative;
          left: 30px;
        }
      };
      /* @media screen and (max-width: 500px) {
        .farm-inputl {
          float: none;
          display: block;
          text-align: left;
        }
    }
    */
