.auto {
  width: 100%;
  height: 40px;
}

.form-group {
  font-style: italic;
  text-align: left;
  color: white;
}

.mapmargin { /** This is for gap margin in between jubo and map*/
  margin-top: 8%;
  width: 110%;
}
