img {
  width: auto;
  height: auto;
  margin-top: 30px;
}
/* img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */
.all {
  padding: 5px 5px;
  width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.right {
  float: right !important;
}
/* Image zoom on hover + Overlay colour */
.parent {
  width: 100%;
  margin: 20px;
  height: 400px;
  border: 1px;
  overflow: hidden;
  position: relative;

  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

.parent:hover a,
.parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(52,73,94,0.75); */
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {
    width: 100%;
    margin: 20px 0px;
  }
  .all {
    padding: 20px 20px;
  }
}

.hello {
  display: none;
}

.framing-calc{
  border: 1px solid black;
  height: 150px;
  padding: 10px;
position: fixed;
  text-align: center;
  left: 5%;
  /* border: 0.5px solid white; */
  /* width: 250px; */
  /* float: right; */
  /* margin-bottom:  40px;
  margin-right: 10px; */
  /* padding: 3px; */
  border-radius: 15px;
  background: transparent;
  box-shadow: 0px 0px 60px rgb(46, 43, 43);
  backdrop-filter: blur(2px);
  color: white;
}

/* ? style for "specificPage" after the image content */
.after-image {
  color: white;
}

.host{
  height: auto;
  border: 1px solid black;
}
  /* ? style for "specificPage" after the image content */
  .after-image{ 
color: white;
  }
  .calensdar{
    width: 100%;
    height: auto;
  }
  .scrols {
    padding: 15px;
    width: 100%;
    height: 1000px;
    overflow: scroll;
    border: 0.4px solid white;
    border-radius: 15px;
    backdrop-filter: blur(1px);
  
    /* border: 1px solid #ccc; */
  }